.mapboxgl-popup {
}
.mapboxgl-popup-tip {
  opacity: 0;
}
.mapboxgl-popup-content {
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.mapboxgl-popup.black-popup .mapboxgl-popup-content {
  background-color: black;
  color: white;
}
.mapboxgl-popup-content p {
  margin: 0;
}
