.mapboxgl-popup {
}
.mapboxgl-popup-tip {
  opacity: 0;
}
.mapboxgl-popup-content {
  border-radius: 0;
  padding: 4px 8px;
}
.mapboxgl-popup.black-popup .mapboxgl-popup-content {
  font-family: sofia-pro, sans-serif !important;
  background-color: #1A1A1A;
  color: #F1F3EE;
}
.mapboxgl-popup-content p {
  margin: 0;
}
